<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Open+Sans|Oxygen|PT+Sans|Raleway|Source+Sans+Pro"
        rel="stylesheet">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
        }

        body {
            background-color: #212121;
            color: whitesmoke;
            font-family: 'Josefin Sans';
            height: 100vh;
            overflow: hidden;

        }

        div {
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
        }

         a {
             text-decoration: none;
             color: rgb(50, 87, 250)
         }

    </style>
</head>
<body>
    <div>
        <h1>404 Not found Error</h1>
        <h2>Redirect to <a href="chatterax.herokuapp.com">Chatterax Main Page</a></h2>

    </div>
</body>
</html>