<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/public/css/chatpage.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    <title>Chatterax | Place to go with chats</title>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</head>

<body class="grey darken-4">
    <nav class="pink">
        <div class="brand-logo right">Chatterax</div>
        <div class="userHeading "><%= data.username %></div>
        <div class="center receiver">Receiver</div>
        <img src="<%= data.image %>"  class="rounded currentUserImage">
    </nav>
    
    <div class="row">
        <div class="col s12 m8 l9 messageBoard push-m4 push-l3" style="overflow: none">
            <span class="z-depth-5" id="to">Click a user to message</span>
            <!-- <div class="messages" id="messages">
                <div class="msg"></div>
            </div> -->
            <div id="msgDiv">
                <input type="text" placeholder="Text message" name="message">
                <i class="material-icons">send</i>
            </div>
        </div>
        
        <!-- Side. Lists of Chats -->
        <div class="col s12 m4 l3 list pull-m8 pull-l9" style="overflow: auto">
            <ul class="friendsMenu">
                <!-- <li class="">
                    <div>
                        <img src="/public/images/profile.jpg" alt="">
                        <p class="name">Friends</p>
                        <p class="lastMessage">Some message bla bla</p>
                        <p class="time">10.11</p>
                        <span class="badge purple new">2</span>
                    </div>
                </li>  -->
            </ul>
        </div>
    </div>

    <!-- side nav -->
    <ul id="slide-out" class="side-nav">
        <li>
            <a href="#!">First Sidebar Link</a>
        </li>
        <li>
            <a href="#!">Second Sidebar Link</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Dropdown
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#!">First</a>
                            </li>
                            <li>
                                <a href="#!">Second</a>
                            </li>
                            <li>
                                <a href="#!">Third</a>
                            </li>
                            <li>
                                <a href="#!">Fourth</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li>
            <a href="#!">First Sidebar Link</a>
        </li>
        <li>
            <a href="#!">Second Sidebar Link</a>
        </li>
        <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown
                <i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>
        <ul id='dropdown1' class='dropdown-content'>
            <li>
                <a href="#!">First</a>
            </li>
            <li>
                <a href="#!">Second</a>
            </li>
            <li>
                <a href="#!">Third</a>
            </li>
            <li>
                <a href="#!">Fourth</a>
            </li>
        </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
    </a>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chatpage.js"></script>
    <!-- Side Nav for mobile -->
    <script src="/public/js/sidenav.js"></script>
</body>

</html>