<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/public/css/index.css">
    <title>Chatter App Login</title>

</head>

<body>
    <div class="main grey darken-4">
        <div class="">
            <h1 class="logo white-text text-darken-2">Chatter App</h1>
            <p class="grey-text lighten-1">An app for indic chats.</p>
            <br>

                <button class="pink waves-effect btn-large hoverable disabled" onclick="location.href = '/signup'">Sign up with email</button>

            <br>
            <br>
            <button class="red waves-effect btn hoverable" onclick="location.href='/auth/google'">Google+</button>
            <button class="grey darken-3 waves-effect btn hoverable" onclick="window.open('https://github.com/Sivanesh-S/chat-app')">Github</button>
        </div>
    </div>
    <a href="">
        <button class="login btn-large">Login</button>
    </a>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/public/js/materialize.min.js"></script>
    <script src="/public/js/script.js"></script>
</body>

</html>