/* test */
.user {
    height: 64px;
}


body {
    /* Available fonts */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
}

nav {
    font-family: 'Josefin Sans', sans-serif;
}

.messageBoard {
    font-family: 'Oxygen', sans-serif;
    
}

.test1 {
    border: thin solid #878787;
    margin-bottom: 0px;
    width: 100%;
}
.rows {
    margin: 0px;
}

.test {
    margin-top: 0px;
}

/* nav {
    margin: 0px;
} */
.sideNav {
    cursor: pointer;
    position: relative;
}

.rounded {
    height: 40px;
    border-radius: 50%;
    margin: 12px 10px 0px 2px;
}


.list li {
    list-style-type: none;
    color: white;
}

.list li img {
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: 10px;
}

.list li div {
    margin-bottom: 5px;
    position: relative;
}

.list li p {
    position: absolute;
    display: inline;
}

p.name {
    width: 50%;
    white-space: nowrap;
    overflow: none;
    text-overflow: clip;
}

p.lastMessage {
    top: 29px;
    font-size: 0.8em;
    color: rgb(153, 153, 153);
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

p.time {
    right: 10px;
    font-size: 0.8em;
    color: rgb(153, 153, 153)
}

.badge {
    position: absolute;
    bottom: 15px;
    right: 5px;
    color: green;
}

.userHeading {
    position: absolute;
    display: inline;
    left: 60px;
    font-size: 2em;

    white-space: nowrap;
    width: 19%;
    overflow: hidden;
    text-overflow: clip;

}

.chatterax {
    font-size: 2em;
}

#receiver {
    border-left: 1px solid rgb(44, 44, 44);
    padding-bottom: 0px;
    /* background-color: green; */
    height: 64px;
}

#receiver img {
    position: relative;
    top: -10px;
}

.receiverName {
    font-size: 2em;
    display: inline-block;
    position: relative;

    /* Clipping text */
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    

    
}

.currentUserImage {
    display: inline;
}



/* Message Board */
.messageBoard {
    color: white;
    height: calc(100vh - 70px);
    position: relative;

}

#msgDiv {
    padding: 0px;
    position: fixed;
    width: 75%;
    bottom: 0.5%;
}

#to {
    font-size: 2em;
}

#msgDiv > input {
    /* position: absolute; */
    width: 90%;
    background-color: white;
    color: black;
    padding: 0 3% 0 5%;
    border-radius: 40px;
    z-index: -1;
}

#msgDiv > i {
    color: black;
    padding: 10px 5px;
    z-index: 1;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.messages {
    overflow: auto;
    position: fixed;
    top: 64px;
    bottom: 80px;
    right: 10px;
    left: 26%;
}

.senderMessage {
    text-align: right;
}

.senderMessage > p {
    display: inline-block;
    margin: 1px;
    padding: 5px 20px 5px 10px;
     border-radius: 30px 0px 30px 30px;
     -moz-border-radius :30px 0px 30px 30px;
     -webkit-border-radius: 30px 0px 30px 30px;
     border: 0px solid #000000;
     border-width: 2px;
     max-width: 80%;
     word-wrap: break-word;
     background-color: rgb(87, 87, 87);
    
}

.senderMessage i {
    position: relative;
    top: 3px;
    font-size: 1em;
    right: 0px;
}

.senderMessage span {
    font-size: 0.6em;
    position: relative;
    right: 0px;
    padding-left: 10px;
}

/* .threads {
    text-align: left;
} */

.threads > img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.threads > p {
    margin: 1px 0px 0px 0px;
    margin-right: 20%;
    padding: 5px 10px;
    align-self: right;
    position: relative;
     border-radius: 0px 30px 30px 30px;
     -moz-border-radius: 0px 30px 30px 30px;
     -webkit-border-radius: 0px 30px 30px 30px;
     border: 0px solid #000000;
     border-width: 2px;
     word-wrap: break-word;
    display: inline-block;
    top: -10px;
    background-color: rgb(87, 87, 87);
}

.threads > p > span {
    font-size: 0.6em;
    padding-left: 10px;
}

#friends {
    /* height: calc(100vh - 70px); */
    height: calc(100vh - 70px);
    border-right: thin solid #878787;
}

.friendsMen {
    height: calc(100vh - 70px);
}


.friendCard {
    cursor: pointer;
    border-bottom: thin solid rgba(87, 87, 87, 0.5)
}

.ls-chatterax > .btn{
    width: 87%;
}

.greener {
    height: 10px; 
    width: 10px;
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 2;
    border-radius: 50%;
}

.frLists {
    height: calc(100vh - 70px)
}

.frLists p.name {
    top: -10px;
}

.frLists p.time {
    top: -5px;
}

 .frLists p.lastMessage {
     top: 19px;
 }





@media only screen and (max-width: 993px ) and (min-width: 600px) {
    #msgDiv {
        width: 60%;
    }

    .chatterax {
        font-size: 1.7em;
    }

    .userHeading {
        width: 20%;
        font-size: 1.7em;
    }
    #receiver div {
        font-size: 1.7em;
        width: 75%;
    }

    .messages {
        left: 35%;
    }

    p.name {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    #receiver div {
        width: 70%;
    }
    
    #msgDiv {
        width: 95%;
    }

    .messages {
        left: 5px;
        right: 5px;
    }

    .list {
        position: absolute;
    }
    

}